<html xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/main.html">

<div class="container" layout:fragment="main_content">
    <form th:action="@{'/addkeyword'}" method="post">
        <label>Keyword Name</label><input class="form-control" type="text"   name="name">
        <br><button class="btn">Add keyword</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "kwd:${keywords}">
            <td th:text = ${kwd.id}></td>
            <td th:text = ${kwd.name}></td>
            <td> <a th:href="@{'/keyworddetails/' + ${kwd.id}}" >  >Details</a></td>
        </tr>
        </tbody>

    </table>

</div>