<html xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorator="layout/main.html">

<div class="container" layout:fragment="main_content">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "it:${producty}">
            <td th:text = ${it.id}></td>
            <td th:text = ${it.name}></td>
            <td th:text = ${it.price}></td>
            <td th:text = ${it.description}></td>
            <td th:text = ${it.category.name}></td>
            <td> <a th:href="@{'/details/' + ${it.id}}" >  >Details</a></td>
        </tr>
        </tbody>

    </table>

<form th:action="@{/search}" method="post" th:object="${search}">
    <label for="search">Search:</label>
    <input name="search" id="search">
    <div th:if="${not #sets.isEmpty(search)}">
        <h4>Search Results</h4>
        <ul th:each="item : ${search}">
            <div class="shadow">
                <a th:href="@{'/details/'+${item.id}}">

                            <a  th:href="@{'/details/'+${item.id}}">
                                <h2 th:text="${item.id}"></h2>
                            </a>
                            <p th:text="${item.name}"></p>
                </a>
            </div>
        </ul>
        <a th:href="@{'/'}">domoi</a>
    </div>
    <div th:unless="${not #sets.isEmpty(search)}">

        <a th:href="@{'/'}">domoi</a>
    </div>





</form>
</div>
</div>

</body>
</html>