<html xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/main.html">

<div class="container" layout:fragment="main_content">

    <h3> <span th:text="${currentUser.fName}"></span></h3>
    <div class="row">
        <img th:src="@{'/viewphoto/'+${currentUser.userAvatar}}" class="my-3" style="width:200px;"><br>+
    <form th:action="@{/uploadavatar}" method="post" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="user_avatar">
            <br>
            <label class="custom-file-label" for="customFile">Choose file</label>
            <button class="btn mt-3">Upload file</button>
        </div>
    </form>
    </div>
</div>