<html xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/main.html">

<div class="container" layout:fragment="main_content">

    <div class="row">
        <div class="col-sm-12">
            <form th:action="@{'/updateUser/'+${item.id}}" method="post">
                <div>
                    <a>Name</a>: <a th:text="${item.fName}"></a>
                </div>
                <div>
                    <a>Email</a>: <a th:text="${item.email}"></a>
                </div>
                <a>moder</a>:
                <div class="primary-switch" style="display: inline-block">
                    <input type="checkbox" id="default-switch" name="moder" th:checked="${bool}">
                    <label for="default-switch"></label>
                </div>
                <div>
                    <button class="genric-btn primary" >SAVE</button>
                </div>
            </form>
            <form th:action="@{'/deleteUser/'+${item.id}}" method="post">
                <button class="genric-btn primary" >delete</button>
            </form>
        </div>
    </div>
</div>